#head {
  background-image: url("IMbackground.jpg");
  padding: 40px;
  }
body {
  background-color: #00a6ff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15pt;
}
.highlightMe {
  background-color: #00a6ff;
  max-width: 400px;
  text-align: center;
}
td, th{
   padding-top: 20px;
   padding-left: 20px;
   padding-bottom: 20px;
   text-indent: 30px;
 }
 a:link, a:visited{
   color: black;
   text-decoration: underline;
 }
 a:hover {
   color: black;
   background-color: #BCE8FA;
   text-decoration: none;
 }
 p {
   text-indent: 30px;
 }
